body {
    background-color: #6699FF;
}
h1 {
    font-weight: bold;
    font-family: serif;
    font-size: 36px;
    text-align: center;
}
p {
    font-style: italic;
    font-family: serif;
    font-size: 16px;
    text-align: justify;
    position: fixed;
    width: 30%;
    top: 29%;
    right: 33%;
}
.nav {
    position: fixed;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 10px;
    top: 3%;
    right: 27%;
    gap: 100px;
}
.club-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
li {
    display: inline;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #C7C7C7;
    border-radius: 40px;
    font-size: 25px;
}
hr {
    position: fixed;
    border: 2px solid #FFFFFF;
    width: 100%;
    top: 15%;
}
.img-1 {
    width: 400px;
    height: 400px;
    position: fixed;
    top: 29%;
    left: 10%;
}
.img-2 {
    width: 400px;
    height: 400px;
    position: fixed;
    top: 29%;
    right: 10%;
}
.email {
    position: fixed;
    bottom: 32%;
    left: 37%;
    font-size: 20px;
}
.links {
    position: fixed;
    bottom: 32%;
    right: 37%;
    font-size: 20px;
}
a {
    color: #FFFF99;
}
a:visited {
    color: #FF3300;
}
.fixt {
    position: fixed;
    border: 1px solid white;
    width: 30%;
    height: 35%;
    top: 29%;
    right: 33%;
}